@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/cb-regular.woff") format("woff");
}
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	src: url("../fonts/cb-semibold.woff") format("woff");
}
@font-face {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/cb-bold.woff") format("woff");
}
@font-face {
	font-family: cbfont;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/cb-font.woff") format("woff");
}
body {
	transition: opacity ease-in 0.2s;
}
html {
	height: 100%;
	background: #fff;
}
* {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
footer,
header,
main {
	display: block;
}
a {
	background: 0 0;
}
a:active,
a:hover {
	outline: 0;
}
button,
input {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
button {
	-webkit-appearance: button;
	cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
.row:after,
.row:before {
	display: table;
	content: " ";
}
.container:after,
.row:after {
	clear: both;
}
.cb.alert.error .title {
	font-size: 1rem;
	font-weight: 300;
	color: #bf2155;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.alert.error .title {
		font-size: 1.0625rem;
		font-weight: 400;
	}
}
.cb.button .label {
	font-size: 1rem;
	font-weight: 400;
	color: #414042;
	letter-spacing: 0;
	text-decoration: none;
}
.cb.button.primary .label {
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0;
	text-decoration: none;
}
.cb.button:disabled .label {
	font-size: 1rem;
	font-weight: 400;
	color: #ccc;
	letter-spacing: 0;
	text-decoration: none;
}
.cb.checkbox .checkbox-label {
	font-size: 0.875rem;
	font-weight: 400;
	color: #414042;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.checkbox .checkbox-label {
		font-size: 1rem;
	}
}
.cb.cb-label.vertical {
	font-size: 0.75rem;
	font-weight: 400;
	color: #717171;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.cb-label.vertical {
		font-size: 0.875rem;
	}
}
.cb.cb-label.vertical.error {
	font-size: 0.75rem;
	font-weight: 600;
	color: #bf2155;
	letter-spacing: 0;
	text-decoration: none;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 12px;
	padding-right: 12px;
}
@media (min-width: 768px) {
	.container {
		width: 744px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 964px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1164px;
	}
}
.row {
	margin-left: -12px;
	margin-right: -12px;
}
.col-sm-6,
.col-xs-10,
.col-xs-12,
.col-xs-6 {
	position: relative;
	min-height: 0.0625rem;
	padding-left: 12px;
	padding-right: 12px;
}
.col-xs-10,
.col-xs-12,
.col-xs-6 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-10 {
	width: 83.33333333%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-offset-1 {
	margin-left: 8.33333333%;
}
@media (min-width: 768px) {
	.col-sm-6 {
		float: left;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-offset-3 {
		margin-left: 25%;
	}
}
.header {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #666;
}
.cb.input {
	font-size: 0.875rem;
	font-weight: 400;
	color: #414042;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.input {
		font-size: 1rem;
		color: #414042;
	}
}
.cb.input:disabled {
	font-size: 0.875rem;
	font-weight: 400;
	color: #bcbcbc;
	letter-spacing: 0;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media screen and (min-width: 768px) {
	.cb.input:disabled {
		font-size: 1rem;
	}
}
.cb.link {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #126bc5;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.link {
		font-size: 0.875rem;
	}
}
.cb.link .link-anchor {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #126bc5;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.link .link-anchor {
		font-size: 0.875rem;
	}
}
.cb.segmentedradiogroup
	input[type="radio"]:active:not(:disabled)
	~ label.input-label {
	font-size: 0.875rem;
	font-weight: 400;
	color: #fff;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.segmentedradiogroup
		input[type="radio"]:active:not(:disabled)
		~ label.input-label {
		font-size: 1rem;
	}
}
@media print {
	* {
		border-color: #000 !important;
		color: #000;
		transition: none !important;
	}
	.cb:not(.chart) * {
		transform: scale(1, 1) !important;
		opacity: 1 !important;
	}
}
@media print and (min-width: 0) {
	.col-sm-6 {
		float: left !important;
	}
	.col-sm-6 {
		width: 50% !important;
	}
	.col-sm-offset-3 {
		margin-left: 25% !important;
	}
}
:focus {
	outline: 0;
}
:focus.focus:focus:focus {
	outline: 0.0625rem dashed #717171;
}
a:focus:focus {
	outline: 0.0625rem dashed #717171;
}
.cb.alert {
	position: relative;
	padding: 1rem;
	border: 0.063rem solid transparent;
	border-radius: 0.2rem;
}
.cb.alert.error {
	color: #fff !important;
}
.cb.alert.error.inverted {
	background-color: #fff;
}
.cb.alert.error {
	background-color: #bf2155;
}
.cb.alert.error.inverted {
	border: 0.0625rem solid #bf2155 !important;
	color: #bf2155 !important;
}
.cb.alert.primary.inverted {
	padding: 0;
	background-color: transparent;
}
.cb.alert.primary.inverted.error {
	border: 0 !important;
}
.cb.alert.primary.inverted.error .title {
	width: 100%;
	margin: 0.0625rem 0.0625rem 0.313rem 0;
}
@media (min-width: 767px) {
	.cb.alert.primary.inverted.error .title {
		width: 83.333%;
		line-height: 1.4;
		margin: 0.0625rem 0.0625rem 0.313rem 0;
	}
}

.cb.alert.primary > .icon {
	position: relative;
	font-size: 1.25rem;
	margin-right: 0.75rem;
	top: 0.4rem;
	float: left;
}
.cb.alert.primary .icon.background {
	position: absolute;
	background-color: #fff;
	border-radius: 50%;
	width: 1.15rem;
	height: 1.15rem;
	top: 0.5313rem;
	left: 0.0625rem;
	z-index: -1;
}
.cb.alert.primary .content.wrap {
	padding-top: 0.25rem;
	overflow: visible;
	margin-left: 2rem;
}
.cb.alert.animate.primary.inverted > .icon {
	opacity: 0;
	-webkit-animation: iconShow 0.5s cubic-bezier(0.1, 0.27, 0.32, 1.72) 0.5s
		forwards;
	animation: iconShow 0.5s cubic-bezier(0.1, 0.27, 0.32, 1.72) 0.5s forwards;
}
@-webkit-keyframes iconShow {
	from {
		transform: scale(0.66, 0.66);
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}
@keyframes iconShow {
	from {
		transform: scale(0.66, 0.66);
	}
	to {
		transform: scale(1, 1);
		opacity: 1;
	}
}
.cb.alert.animate.primary.inverted .content {
	opacity: 0;
	-webkit-animation: contentShow 0.5s ease 0.5s forwards;
	animation: contentShow 0.5s ease 0.5s forwards;
}
@-webkit-keyframes contentShow {
	to {
		opacity: 1;
	}
}
@keyframes contentShow {
	to {
		opacity: 1;
	}
}
.cb.button {
	box-sizing: border-box;
	margin: 0.5rem;
	font-size: 1rem;
	font-weight: 400;
	color: #414042;
	background-color: #d6d6d6;
	border: none;
	border-radius: 0.3125rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	transition: background-color 0.4s ease, border-color 0.4s ease;
	outline: 0.0625rem solid transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-padding-before: 0;
	-webkit-padding-end: 0;
	-webkit-padding-after: 0;
	-webkit-padding-start: 0;
}
.cb.button:active {
	background-color: #e5e5e5;
}
.cb.button:active .label {
	color: #414042;
}
.cb.button .label {
	display: inline-block;
	line-height: 2.5rem;
	margin: 0 1rem;
}
.cb.button:hover:not(.touch) {
	background-color: #bcbcbc;
}
.cb.button:active:not(.touch) {
	background-color: #e5e5e5;
}
.cb.button:active {
	background-color: #e5e5e5;
}
.cb.button:disabled {
	background-color: #e5e5e5;
	border: none;
	cursor: default;
}
.cb.button:disabled:hover {
	background-color: #e5e5e5;
}
.cb.button.primary {
	background-color: #0b6efd;
	border: none;
}
.cb.button.primary:hover:not(.touch) {
	background-color: #0a4386;
}
.cb.button.primary:active:not(.touch) {
	background-color: #0092ff;
}
.cb.button.primary:active {
	background-color: #0092ff;
}
.cb.button.primary:active .label {
	color: #fff;
}
.cb.button.primary:disabled {
	background-color: #a9d5ed;
	border: none;
	color: #fff;
	cursor: default;
}
.cb.button.primary:disabled .label {
	color: #fff;
}
.cb.button.primary:disabled:hover {
	background-color: #a9d5ed;
}
.cb.button.fluid {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	height: 2.5rem;
	overflow-x: auto;
}
.cb.button.fluid:disabled {
	background-color: #e5e5e5;
}
.cb.button.fluid:disabled.primary {
	background-color: #a9d5ed;
}
.cb.button.fluid:disabled.primary .label {
	color: #fff;
}
.cb.button.fluid:disabled .label {
	color: #ccc;
}
.cb.button.fluid .label {
	line-height: 1.125rem;
	white-space: normal;
	margin: 0.0625rem 0.75rem;
}
.cb.button:focus {
	outline: 0.0625rem dashed #717171;
}
.cb.button:focus {
	outline: #717171 dashed 0.0625rem;
}
.cb.checkbox {
	margin-top: 0.1875rem;
	margin-bottom: 0.1875rem;
}
.cb.checkbox .checkbox-flex {
	display: flex;
	align-items: flex-start;
}
.cb.checkbox .checkbox-flex label {
	width: auto;
}
.cb.checkbox .checkbox-label {
	padding-left: 0.625rem;
	position: relative;
	bottom: 0.0625rem;
	display: inline-block;
}
.cb.checkbox .checkboxWrap {
	flex-shrink: 0;
	width: 1.25rem;
	height: 1.25rem;
}
.cb.checkbox .checkboxWrap .check {
	display: inline-block;
	border: 0.0625rem solid #959595;
	height: 1.25rem;
	width: 1.25rem;
	border-radius: 0.1875rem;
	position: relative;
	bottom: 1.375rem;
}
.cb.checkbox .checkboxWrap .check:after {
	content: "";
	width: 1.125rem;
	height: 1.125rem;
	font-size: 1.125rem;
}
.cb.checkbox .checkbox-input {
	opacity: 0;
	position: relative;
	height: 1.25rem;
	width: 1.25rem;
	z-index: 1;
	vertical-align: bottom;
}
.cb.checkbox
	.checkbox-input.checkbox-input--checked:not(.checkbox-input--disabled)
	+ .check {
	border: 0.125rem solid #0b6efd;
	background-color: #0b6efd;
}
.cb.checkbox
	.checkbox-input.checkbox-input--checked:not(.checkbox-input--disabled)
	+ .check:after {
	color: #fff;
	background-color: #0b6efd;
	font-size: 1rem;
}
.cb.checkbox [role="checkbox"].checkbox-input--checked + .em-dash:after {
	content: "\e961";
}
.cb.checkbox input[type="checkbox"].checkbox-input--checked + .checkmark:after {
	content: "\f11b";
}
.cb.checkbox .checkbox-input:focus + .check {
	outline: 0.0625rem dashed #717171;
}
.cb.checkbox .checkbox-input + .check {
	color: #0b6efd;
}
.cb.checkbox .checkbox-input + .check:after {
	background-color: #fff;
}
.cb.checkbox:not(.disabled) input,
.cb.checkbox:not(.disabled) label {
	cursor: pointer;
}
.cb.dropdown
	.list-container
	.list.list--search-results
	.primary:not(:active):not(.disabled) {
	color: #414042;
}
.cb.cb-label {
	color: #717171;
}
.cb.image {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	background-color: transparent;
	line-height: 0;
}
.cb.image.fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.cb.image.background {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.cb.iconaction:focus {
	outline: 0 !important;
}
.cb.iconaction:focus i:not([disabled]) {
	outline: 0.0625rem dashed #717171;
}
.cb.inlinemodalheader > div > :focus {
	outline: 0;
}
.cb.input {
	padding: 0.5rem 1rem;
	width: 100%;
	height: 2.5rem;
	border: 0.0625rem solid #959595;
	border-radius: 0;
	outline: 0.0625rem solid transparent;
	-webkit-appearance: none;
	-webkit-user-select: text !important;
}
.cb.input:-ms-input-placeholder {
	color: #717171;
}
.cb.input::-webkit-input-placeholder {
	color: #717171;
}
.cb.input:-moz-placeholder {
	color: #717171;
	opacity: 1;
}
.cb.input::-moz-placeholder {
	color: #717171;
	opacity: 1;
}
.cb.input::-ms-clear {
	display: none;
}
.cb.input:invalid {
	box-shadow: none;
}
.cb.input:focus {
	border-color: #0b6efd;
	outline: 0.0625rem solid transparent;
	box-shadow: 0.0625rem 0.0625rem 0 #0b6efd, 0.0625rem -0.0625rem 0 #0b6efd,
		-0.0625rem 0.0625rem 0 #0b6efd, -0.0625rem -0.0625rem 0 #0b6efd;
}
.cb.input:disabled {
	border-color: #bcbcbc;
	background: #fff;
	outline: 0;
}
.cb.input:disabled::-webkit-input-placeholder {
	color: #bcbcbc;
}
.cb.input:disabled::-moz-placeholder {
	color: #bcbcbc;
}
.cb.input:disabled:-ms-input-placeholder {
	color: #bcbcbc;
}

.cb.link .link-anchor {
	text-decoration: none;
	white-space: nowrap;
	position: relative;
}
@media (max-width: 767px) {
	.cb.link .link-anchor {
		padding: 0.5rem;
		margin-left: -0.5rem;
		margin-right: -0.5rem;
	}
}

.cb.link .end-icon {
	margin-left: -0.125rem;
	padding-left: 0.3125rem;
	font-size: 0.6429rem;
	color: inherit !important;
	display: inline;
}
.cb.multiselect
	.multiselect__control
	.multiselect__control-selection
	.multiselect__control-selected:lastchild
	.multiselect__control-selected-button {
	margin-right: 0;
}
.cb.progress.radial _::-webkit-:not(:root:root) .mask {
	clip: auto;
	-webkit-clip-path: inset(0 0 0 6.75rem);
}
.cb.progress.radial _::-webkit-:not(:root:root) .mask .fill {
	clip: auto;
	-webkit-clip-path: inset(0 6.75rem 0 0);
	background-color: #0b6efd;
}
.cb.segment {
	border-top: 0.3125rem transparent solid;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: #f9f6f3;
	transition: opacity 0.25s ease-in-out;
	position: relative;
}
.cb.segment:focus {
	outline: 0.0625rem dashed #717171;
}
.cb.segment:hover {
	background: #fff;
}
.cb.segment:not(.active) {
	transition: border-top-color 0.25s, background-color 0.25s;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.cb.slider .input-container > ::-webkit-slider-thumb {
		opacity: 0;
	}
}
@-moz-document url-prefix() {
	.cb.slider .input-container > ::-moz-range-thumb {
		opacity: 0;
	}
}
.cb.tooltip .trigger:focus:not(:active) .info-color,
.cb.tooltip .trigger:focus:not(:active) .tooltip__flyout-trigger-charm {
	outline: 0.0625rem dashed #666;
}
.cb.tooltip.flyout.flyout--icon-without-label
	.trigger:focus:not(:active)
	.icon {
	outline: 0.0625rem dashed #666;
}
.cb.tooltip.flyout.flyout--icon-without-label
	.trigger:focus:not(:active)
	.tooltip__flyout-trigger-charm {
	outline: 0;
}
.cb.tooltip.flyout.flyout--label-without-icon
	.trigger:focus:not(:active)
	.tooltip__flyout-trigger-label {
	outline: 0.0625rem dashed #666;
}
.cb.tooltip.flyout.flyout--label-without-icon
	.trigger:focus:not(:active)
	.tooltip__flyout-trigger-charm {
	outline: 0;
}
.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):active
	~ label.input-label {
	background-color: #0092ff !important;
}
.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:not(:checked):not(.touch)
	~ label.input-label {
	background-color: #f9f6f3;
}
.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:checked:not(.touch)
	~ label.input-label {
	background-color: #0a4386;
}
.cb.fieldgroup {
	margin-top: 0;
	text-align: left;
}
.cb.fieldgroup .vertical {
	margin-bottom: 1.125rem;
	margin-top: -0.3125rem;
}
.cb.fieldgroup .vertical:not(.fieldtext) .cb-label-wrapper {
	display: inline-block;
	margin-bottom: 0.5rem;
}
.cb.fieldgroup .vertical .cb-input-container.cb-floating-label {
	position: relative;
}
.cb.fieldgroup
	.vertical
	.cb-input-container.cb-floating-label
	.cb-label-wrapper {
	position: absolute;
	display: inline-block;
	margin-top: 0.5rem;
	z-index: 1;
	text-align: left;
	pointer-events: none;
	margin-left: 1rem;
	transition: all 0.2s ease-in-out;
}
.cb.fieldgroup .vertical .cb-input-container.cb-floating-label .cb-label {
	font-size: 1rem;
}
.cb.fieldgroup
	.vertical
	.cb-input-container.cb-floating-label.floating
	.cb-label-wrapper {
	transform: translate(-1.5rem, -2.5rem) scale(0.9);
	transition: all 0.2s ease-in-out;
	pointer-events: auto;
}
.cb.fieldgroup .vertical label {
	margin-bottom: 0.5rem;
}
.cb.icon {
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	color: #666;
	font-size: 1em;
	font-family: cbfont;
}
.cb.icon.equal-housing-lender:after {
	content: "\e605";
}
.cb.icon.facebook:after {
	content: "\f112";
}
.cb.icon.instagram:after {
	content: "\e62d";
}
.cb.icon.linkedin:after {
	content: "\f102";
}
.cb.icon.twitter:after {
	content: "\f120";
}
.cb.icon.youtube:after {
	content: "\f111";
}
.cb.icon.check:after {
	content: "\f11c";
}
.cb.icon.checkmark:after {
	content: "\f11b";
}
.cb.icon.exclamation-color:after {
	content: "\f115";
}
.cb.icon.progressright:after {
	content: "\f108";
}
.cb.icon.equal-housing-lender:hover:not(.touch),
.cb.icon.facebook:hover:not(.touch),
.cb.icon.instagram:hover:not(.touch),
.cb.icon.linkedin:hover:not(.touch),
.cb.icon.progressright:hover:not(.touch),
.cb.icon.twitter:hover:not(.touch),
.cb.icon.youtube:hover:not(.touch) {
	color: #0092ff;
}
.cb.icon.equal-housing-lender:active:not(.touch),
.cb.icon.facebook:active:not(.touch),
.cb.icon.instagram:active:not(.touch),
.cb.icon.linkedin:active:not(.touch),
.cb.icon.progressright:active:not(.touch),
.cb.icon.twitter:active:not(.touch),
.cb.icon.youtube:active:not(.touch) {
	color: #0b6efd;
}
.cb.icon.equal-housing-lender:active,
.cb.icon.facebook:active,
.cb.icon.instagram:active,
.cb.icon.linkedin:active,
.cb.icon.progressright:active,
.cb.icon.twitter:active,
.cb.icon.youtube:active {
	color: #0b6efd;
}
.cb.icon.exclamation-color {
	color: #bf2155;
}
.cb.icon.check {
	color: #126bc5;
}
.cb.icon.checkmark {
	color: #0092ff;
}
body.brand-jpmorgan
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):active
	~ label.input-label {
	background-color: #1570a3 !important;
}
body.brand-jpmorgan
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:not(:checked)
	~ label.input-label {
	background-color: #f9f6f3;
}
body.brand-jpmorgan
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:checked
	~ label.input-label {
	background-color: #0d415b;
}

body.brand-business
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):active
	~ label.input-label,
body.brand-commercial
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):active
	~ label.input-label {
	background-color: #126bc5 !important;
}
body.brand-business
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:not(:checked)
	~ label.input-label,
body.brand-commercial
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:not(:checked)
	~ label.input-label {
	background-color: #f9f6f3;
}
body.brand-business
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:checked
	~ label.input-label,
body.brand-commercial
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:checked
	~ label.input-label {
	background-color: #0b6efd;
}

body.brand-wealth
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):active
	~ label.input-label {
	background-color: #126bc5 !important;
}
body.brand-wealth
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:not(:checked)
	~ label.input-label {
	background-color: #f9f6f3;
}
body.brand-wealth
	.cb.segmentedradiogroup
	input[type="radio"]:not(:disabled):hover:checked
	~ label.input-label {
	background-color: #0b6efd;
}

.cb.segment .title {
	font-size: 0.875rem;
	font-weight: 600;
	color: #414042;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.segment .title {
		font-size: 1rem;
		font-weight: 400;
	}
}
@media screen and (min-width: 992px) {
	.cb.segment .title {
		font-size: 1.125rem;
	}
}
html {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.signin-container {
	position: relative;
}
.signin-container > header {
	position: relative;
	z-index: 2;
}
.signin.header {
	padding: 18px 0;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.signin.header {
		padding: 1.5em 0;
	}
}
.signin.header.cb.transparent.bar {
	background-color: transparent;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.7) 0,
		rgba(0, 0, 0, 0.5) 50%,
		rgba(0, 0, 0, 0) 100%
	);
}
.signin.header a {
	display: inline-block;
}
.signin.header a:focus {
	outline-color: #fff;
}
.signin.header .logo {
	cursor: pointer;
	width: 220px;
	height: 2rem;
	margin: 0 auto;
	text-align: center;
	background: url("../img/logo.png") no-repeat;
	background-image: url("../img/logo.svg");
	background-position: center center;
}
.cb-footer {
	background: #fff;
	font-size: 16px;
	padding: 1em 0;
	position: static;
	margin-top: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
@media all and (min-height: 992px) and (max-height: 1023px) {
	.cb-footer {
		margin-top: 142px;
	}
}
@media all and (min-height: 1024px) {
	.cb-footer {
		margin-top: 220px;
	}
}
.cb-footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.cb-footer li {
	display: inline-block;
	margin-right: 16px;
}
.cb-footer a,
.cb-footer a:visited {
	text-decoration: none;
	color: #757575;
	transition: color 0.4s ease;
}
.cb-footer a:hover,
.cb-footer a:visited:hover {
	color: #414042;
}
.cb-footer .cb-social-links {
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding-top: 6px;
	padding-bottom: 12px;
	margin-bottom: 26px;
}
.cb-footer .cb-social-links .cb-social-text {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.125em;
	color: #717171;
}
.cb-footer .cb-social-links ul.cb-icon-links {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
}
.cb-footer .cb-social-links li {
	margin-left: 13px;
	margin-right: 0;
	width: 1.4rem;
	vertical-align: middle;
}
.cb-footer .cb-social-links a {
	color: #717171;
	display: inline-block;
}
.cb-footer .cb-social-links a:hover {
	color: #414042;
}
.cb-footer .cb-social-links .cb.icon {
	font-size: 1.4rem;
}
.cb-footer .cb-footer-links ul {
	text-align: center;
}
.cb-footer .cb-footer-links .cb.link .link-anchor,
.cb-footer .cb-footer-links li {
	color: #757575;
	font-size: 0.65625rem;
}
.cb-footer .cb-footer-links li {
	margin-bottom: 10px;
}
.cb-footer .cb-footer-links li .icon:hover:not(.touch) {
	color: #666;
}
.cb-footer .cb-footer-links .cb.link .link-anchor {
	transition: color 0.4s ease;
}
.cb-footer
	.cb-footer-links
	.cb.link
	.link-anchor {
	text-decoration: underline;
}
.cb-footer .cb-footer-links .equal-housing-lender {
	font-size: 1.7em;
}
.cb-footer .cb-footer-links .copyright-label {
	width: 100%;
}
.signin {
	font-size: 16px;
}
.signin .signin-box {
	margin-top: 10px;
}
@media only screen and (min-width: 768px) {
	.signin .signin-box {
		margin-top: 60px;
	}
}
@media only screen and (min-width: 992px) {
	.signin .signin-box {
		margin-top: 80px;
	}
}
.signin .signin-box .cb.error.alert {
	margin-bottom: 0;
}
.signin .signin-box .cb.alert.primary > .icon {
	margin-right: 10px;
}
.signin .cb.raised.segment {
	background: #fff;
	border-radius: 5px;
	padding: 1.25rem 0 1.25rem 0;
	max-width: 384px !important;
	overflow: visible !important;
	margin: 0 auto;
}
.signin .cb.button.primary {
	margin: 25px 0 20px 0;
}
@media only screen and (min-width: 768px) {
	.signin .cb.button.primary {
		margin: 13px 0;
	}
}
.signin a:focus,
.signin input:focus {
	-moz-box-shadow: 0 0 7px #126bc5;
}
.input-error:-ms-input-placeholder {
	color: #666 !important;
}
.signin-box .cb.alert.primary.error {
	padding: 0 !important;
	border: none !important;
	opacity: 1;
}
.signin-box .cb.alert.primary.error .content.wrap .title {
	color: #bf2155;
	outline: 0 !important;
}
.signin-box .cb.input.input-error {
	box-shadow: 2px 2px 0 #bf2155, 2px -2px 0 #bf2155, -2px 2px 0 #bf2155,
		-2px -2px 0 #bf2155;
	border: 1px solid transparent;
}
.signin-box .cb.input.input-error:focus {
	box-shadow: 2px 2px 0 #bf2155, 2px -2px 0 #bf2155, -2px 2px 0 #bf2155,
		-2px -2px 0 #bf2155;
}
.signin::-webkit-input-placeholder {
	color: #666;
}
.signin::-moz-placeholder {
	color: #666;
}
.signin:-moz-placeholder {
	color: #666;
}
.signin:-ms-input-placeholder {
	color: #666;
}
.cb.background.image {
	background-color: #003c69 !important;
	background-image: linear-gradient(
		to bottom,
		rgba(0, 60, 105, 0.4),
		rgba(0, 60, 105, 0.8)
	);
}
.cb.background.image {
	background-image: url(../img/bg-mobile.jpeg);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-mobile.jpeg', sizingMethod='scale');
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-mobile.jpeg', sizingMethod='scale');
}

@media (min-width: 320px) {
	.cb.background.image {
		background-image: url(../img/bg-mobile.jpeg);
	}
}

@media (min-width: 992px) {
	.cb.background.image {
		background-image: url(../img/bg-tablet.jpeg);
	}
}

@media (min-width: 1024px) {
	.cb.background.image {
		background-image: url(../img/bg-desktop.jpeg);
	}
}
.cb.icon.equal-housing-lender:after {
	content: "\e605";
}
.cb.icon.exclamation-color:after {
	content: "\f115";
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	_:-ms-fullscreen .cb.primary.link:focus {
		outline: 1px #126bc5 dotted !important;
	}
}
.signin-error h2 {
	padding-top: 0;
}
.signin .signin-box .input {
	font-size: 1.125rem;
	background: 0 0;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin: 10px 0;
}
.signin .signin-box .cb.checkbox .checkbox-label {
	color: #666;
	font-size: 0.875rem;
	white-space: nowrap;
	padding-top: 3px;
}
.signin .signin-box .cb.link .link-anchor {
	line-height: 1.6rem;
	white-space: normal;
}
.signin .signin-box .cb.error.alert {
	margin-bottom: 1rem;
}
.signin-floating-label.cb.fieldgroup
	.vertical
	.cb-input-container.cb-floating-label
	.cb-label-wrapper {
	margin-top: 1.25rem;
	margin-left: 0.5rem;
}
.signin-floating-label.cb.fieldgroup
	.vertical
	.cb-input-container.cb-floating-label.floating
	.cb-label-wrapper {
	transform: translate(-0.75rem, -1.5rem) scale(0.9);
}
.signin-box .signin-floating-label .cb.input.input-error,
.signin-box .signin-floating-label .cb.input.input-error:focus {
	box-shadow: 0 2px 0 -1px #bf2155;
}
.signin-floating-label .cb.input:focus {
	box-shadow: 0 2px 0 -1px #0b6efd;
}
body:after {
	content: "xs";
	display: none;
}
@media screen and (min-width: 768px) {
	body:after {
		content: "sm";
		display: none;
	}
}
@media screen and (min-width: 992px) {
	body:after {
		content: "md";
		display: none;
	}
}
@media screen and (min-width: 1200px) {
	body:after {
		content: "lg";
		display: none;
	}
}
.cb.link {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #126bc5;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.link {
		font-size: 0.875rem;
	}
}
.cb.link .link-anchor {
	font-size: 0.8125rem;
	font-weight: 400;
	color: #126bc5;
	letter-spacing: 0;
	text-decoration: none;
}
@media screen and (min-width: 768px) {
	.cb.link .link-anchor {
		font-size: 0.875rem;
	}
}
.homepage,
body,
html {
	height: 100vh;
}
.homepage > footer.signin-footer {
	min-width: 100vw;
	top: 100vh;
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}